.page-footer {
  border-top: 2px solid #D9FFF5;
  display: flex;
  color: #7E7E82;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}
.page-footer .copyright-year {
  margin-left: 31px;
}
.page-footer .copyright-information {
  margin-right: 31px;
}