html,
body {
  min-height: 120vh;
}

@media (min-width: 1439px) {
  body {
    margin: 0;
    position: relative;
  }
  .modal-container {
    display: block;
  }
  .flexbox-container {
    display: flex;
    min-height: 190vh;
  }
  .modal-style {
    width: 308px;
    box-shadow: none;
    background-color: white;
  }
  .modal-header .button-style:first-child {
    display: none;
  }
  li {
    list-style: none;
  }
  .tech-repair {
    border-top: 2px solid #d9fff5;
  }
  .tech-repair .brand-list-title {
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .tech-repair ul.brands__list {
    margin-bottom: 0;
  }
  .tech-repair .second-title {
    margin-bottom: 50px;
  }
  .tech-repair .tech-container {
    display: flex;
    gap: 32px;
  }
  .price-container {
    display: flex;
    flex-direction: row;
    height: 324px;
    width: 1056px;
    background-color: #ffffff;
    margin-left: 32px;
    margin-right: 32px;
  }
  .price-container span {
    display: block;
    height: 64px;
    border-bottom: 1px solid #eaeaea;
  }
  .price-container .name-column {
    margin-right: 124px;
  }
  .price-container .price-column {
    margin-right: 122px;
  }
  .page-footer .copyright {
    display: flex;
    justify-content: space-between;
  }
  .nds-text {
    width: 421px;
    margin-top: 32px;
    margin-left: 32px;
  }
  .nds-text .nds-text__img {
    align-self: center;
    margin-left: 9px;
  }
}