@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 767.95px) {
  /* тут все логотипы  */
  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #B8FFEC;
  }
  .page-header .page-header__icon-menu {
    position: relative;
  }
  .page-header .page-header__logo {
    position: relative;
  }
  .page-header .page-header__divider {
    position: relative;
  }
  .page-header .page-header__tools {
    position: relative;
  }
  .page-header .page-header__search {
    position: relative;
  }
  .page-header .page-header__icon-call {
    display: none;
  }
  /* заголовок  */
  .page-main {
    display: flex;
    flex-direction: row;
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 700;
    /* кнопки */
  }
  .page-main .page-main__highlight {
    display: inline-block;
    order: -1;
    margin-top: 24px;
  }
  .page-main .page-main__title {
    display: inline-block;
    font-size: 28px;
    padding-left: 16px;
    position: relative;
    order: 0;
    margin-top: 24px;
  }
  .page-main .page-main__buttons {
    display: flex;
    overflow: scroll;
    scroll-behavior: none;
  }
  .page-main .page-main__buttons .page-main__button-1 {
    padding: 8px 16px;
    margin-left: 16px;
    border-radius: 5px;
    border: 2px #B8FFEC solid;
    background-color: #FFFFFF;
    color: #7E7E82;
    font-family: "TT Lakes";
  }
  .page-main .page-main__text {
    margin: 0 16px;
  }
  .page-main .second-title {
    display: inline-block;
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
  }
  .page-main .expand-svg {
    margin-left: 24px;
  }
}