@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Regular.woff") format("woff"), url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  width: 320px;
  height: 1024;
  margin-right: auto;
  font-family: "TT Lakes";
  position: -webkit-sticky;
  position: sticky;
  margin-left: 0;
  box-shadow: 10px 10px 30px 10px rgba(14, 24, 80, 0.2);
}

/* шапка модалки */
.modal-header {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-header__icon-search {
  justify-self: flex-end;
  margin-top: 18px;
  margin-right: 16px;
}
.modal-header__opened-menu {
  margin-right: 16px;
  margin-top: 18px;
}
.modal-header__logo {
  margin-right: 78px;
  margin-top: 18px;
}

/* меню модалки */
.modal-main__headline {
  display: flex;
  margin-top: 40px;
}
.modal-main__headline .modal-main__headline-title {
  margin-left: 20px;
  font-size: 16px;
  color: #7e7e82;
  letter-spacing: -0.2px;
  font-weight: normal;
}

/* кнопки модалки */
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.button-style {
  font-family: "TT Lakes";
  text-align: start;
  display: block;
  background-color: transparent;
  border: none;
  list-style-type: none;
  padding: 5px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}

.button-style:first-child {
  margin-top: 20px;
}

.button-style:hover {
  transform: scale(1);
  box-shadow: 5px -5px 5px -4px #41F6D7;
  transition-duration: 0.2s;
}

/* подвал модалки */
.modal-footer .modal-footer__buttons {
  display: flex;
  margin-top: 250px;
}
.modal-footer .modal-footer__buttons .button-footer-1 {
  align-self: flex-start;
  margin: 0;
  margin-left: 24px;
  margin-right: 16px;
}
.modal-footer .modal-footer__buttons .button-footer-2 {
  margin: 0;
  margin-right: 16px;
}
.modal-footer .modal-footer__buttons .button-footer-3 {
  margin: 0;
}
.modal-footer .modal-footer__copy {
  display: flex;
  flex-direction: column;
}
.modal-footer .modal-footer__copy .email {
  margin-top: 16px;
  margin-left: 24px;
}
.modal-footer .modal-footer__copy .phone {
  margin-top: 12px;
  margin-left: 24px;
}
.modal-footer .modal-footer__copy .lang {
  margin-left: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
}