@charset "UTF-8";
body {
  max-width: 100%;
  margin: 0 auto;
}

/* тут все логотипы  */
.page-header {
  display: flex;
  justify-content: end;
  padding: 15px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #B8FFEC;
}
.page-header__justify-left {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: auto;
}
.page-header__icon-menu {
  position: relative;
  margin-right: 16px;
}
.page-header__icon-logo {
  position: relative;
  align-self: flex-start;
  margin-right: 16px;
}
.page-header__icon-divider {
  position: relative;
  margin-right: 16px;
}
.page-header__justify-right {
  display: flex;
  justify-content: space-around;
}
.page-header__icon-tools {
  position: relative;
  margin-right: 16px;
  order: 4;
}
.page-header__icon-search {
  position: relative;
  margin-right: 16px;
  order: 4;
}
.page-header__icon-call {
  position: relative;
  margin-right: 16px;
  order: -1;
}
.page-header__icon-chat {
  position: relative;
  margin-right: 16px;
  order: 0;
}
.page-header__icon-profile {
  position: relative;
  margin-right: 16px;
  order: 2;
}
.page-header__icon-divider2 {
  position: relative;
  margin-right: 16px;
  order: 3;
}

@media (max-width: 767.95px) {
  .page-header {
    justify-content: space-around;
  }
  .page-header__icon-call {
    display: none;
  }
  .page-header__icon-chat {
    display: none;
  }
  .page-header__icon-profile {
    display: none;
  }
  .page-header__icon-divider2 {
    display: none;
  }
}
/* заголовок  */
.page-main {
  display: flex;
  flex-direction: column;
}
.page-main__highlight {
  display: flex;
}
.page-main__title {
  margin-left: 3%;
  font-size: 28px;
  margin-bottom: 5px;
}

/* кнопки */
.page-main__buttons {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 3%;
  margin-bottom: 5px;
}
.page-main__button-1 {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-1:hover {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color: #FFFFFF;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-2 {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-2:hover {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color: #FFFFFF;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-3 {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-3:hover {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color: #FFFFFF;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-4 {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}
.page-main__button-4:hover {
  width: 246px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color: #FFFFFF;
  color: #7E7E82;
  font-size: 16px;
  margin-right: 16px;
}

@media (max-width: 767.95px) {
  .page-main__buttons {
    display: flex;
    overflow: scroll;
  }
}
/* текст */
.main-information {
  display: flex;
  flex-direction: column;
}

.page-main__text {
  margin: 0 3%;
  font-size: 14px;
}

.second-title {
  display: inline-block;
  margin-top: 16px;
  line-height: 24px;
  font-size: 16px;
}

.expand-svg {
  margin-left: 24px;
}

@media (min-width: 767.95px) and (max-width: 1119.95px) {
  .page-main {
    margin-right: 15px;
  }
  body {
    max-width: 100%;
  }
  .page-header {
    width: 100%;
  }
  .main-information {
    display: flex;
    flex: 50% 50%;
    flex-direction: row;
    margin-top: 30px;
  }
  .img-styles1 {
    width: 360px;
  }
}