@media (min-width: 767.95px) {
  .tech-repair {
    border-top: 2px solid #D9FFF5;
  }
  .tech-repair .brands__list {
    list-style: none;
  }
  .tech-repair .tech-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .tech-repair .brand-style {
    height: 160px;
  }
  .tech-repair .brand-style img {
    height: 160px;
  }
}