$backgroundcolor: #F8F8F8;
$titlecolor:#1B1C21;
$buttoncolor: #7E7E82;
$greenbordercolor: #B8FFEC;
$phonewidth: 767.95px;
$tabletwidth: 1119.95px;

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/TTLakes-Regular.woff') format('woff'),
      url('TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
      url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/TTLakes-Bold.woff') format('woff'),
      url('TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  max-width: 100%;
  margin:0 auto;
  font-family: 'TT Lakes';
  
  
}

  /* тут все логотипы  */

.page-header {
  display:flex;
  justify-content:end;
  padding:15px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #B8FFEC;

  &__justify-left{
    display:flex;
    justify-content: start;
    align-items: center;
    margin-right:auto;
  }

  &__icon-menu {
    position:relative;
    margin-right: 16px;
  }
  
    &__icon-logo {
      position:relative;
      align-self:flex-start;
      margin-right: 16px;
    }
  
    &__icon-divider {
      position:relative;
      margin-right: 16px;}
  


      &__justify-right{
        display:flex;
        justify-content: space-around;
      }

    &__icon-tools {
      position:relative;
      margin-right: 16px;
      order:4;}
  
    &__icon-search {
      position:relative;
      margin-right: 16px;
      order:4;}

    &__icon-call {
      position:relative;
      margin-right: 16px;
      order:-1;}
    
    &__icon-chat {
      position:relative;
      margin-right: 16px;
      order:0;}
    
    &__icon-profile {
      position:relative;
      margin-right: 16px;
      order:2;}
    
    &__icon-divider2 {
      position:relative;
      margin-right: 16px;
      order:3;}
}
  @media(max-width:$phonewidth){

.page-header {
  justify-content: space-around;
  &__icon-call {
    display:none;}

  &__icon-chat {
    display:none;}

  &__icon-profile {
    display:none;}

  &__icon-divider2 {
    display:none;}
}
  }

  /* заголовок  */
  .page-main {
    display: flex;
    flex-direction: column;
    

		&__highlight {
      display:flex;
      align-items:flex-end;
		}
		&__title {
    
      margin-left: 4%;
      font-size: 28px;
      margin-bottom: 0;
      align-self:flex-end; 
		}
    &__title-icon{
      align-self:flex-end;
    }
}

/* кнопки */
.page-main {

 

  &__buttons{
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 4%;
    margin-bottom: 5px;
    
  }

  &__button-1 {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  
  }

  &__button-1:hover {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color:#FFFFFF;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-2 {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-2:hover {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color:#FFFFFF;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-3 {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-3:hover {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color:#FFFFFF;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-4 {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }

  &__button-4:hover {
    width: 246px;
    height:40px;
    padding:8px 16px;
  border-radius: 5px;
  border: 2px #B8FFEC solid;
  background-color:#FFFFFF;
  color:#7E7E82;
  font-size: 16px;
  margin-right: 16px;
  }
}

@media(max-width:$phonewidth){

  .page-main {
  &__buttons{
  display: flex;
  overflow: scroll;
}
}
}

/* текст */

.main-information {
  display:flex;
  flex-direction: column;
}
.page-main {

		&__text {
    margin: 0 4%;
    font-family:'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

		}
}

  .second-title{
    display:flex;
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

  .second-title-icon{
    display:inline;
}


@media(min-width:$phonewidth) and (max-width:$tabletwidth){
  .page-main{
    margin-right: 15px;
  }
body{
  max-width:100%;
}
.page-header{
  width: 100%;
}
  .main-information{
    display:flex;
    flex: 50% 50%;
    flex-direction: row;
    margin-top: 30px;
  }
  .img-styles1 {
    width: 360px;
  }
  
}