.page-footer {
  border-top: 2px solid #d9fff5;
  display: flex;
  color: #7e7e82;
  justify-content: space-between;
  height: 85px;
  align-items: center;

  .copyright-year {
    margin-left: 31px;
  }

  .copyright-information {
    margin-right: 31px;
  }
}

@media (min-width: 767.96px) {
  .page-footer {
    justify-content: space-between;
    .copyright-year {
      margin-left: 24px;
      flex-shrink: 0;
    }
    .copyright-information {
      text-align: right;
      margin-right: 24px;
      width: 213px;
    }
    .copyright-policy {
      flex-shrink: 0;
    }
  }
}

@media (max-width: 767.95px){
  .page-footer {
    font-size: 14px;
    flex-direction: column;
    height: fit-content;
    text-align: center;  
    
    .copyright-information{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  .copyright-policy{
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  .copyright-year{
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  }


}