html,
body {
  min-height: 100%;
}

@media (min-width: 1439px) {
  body {
    margin: 0;

  }

  .flexbox-container {
    display: flex;
  }

  .modal-style {
    width: 308px;
    box-shadow: none;
    background-color: white;
  }
  .page-main {
    margin-left: 308px;
  }

  .modal-header {
    .button-style:first-child {
      display: none;
    }
  }
  li {
    list-style: none;
  }
  .tech-repair {
    border-top: 2px solid #d9fff5;
    .brand-list-title {
      margin-top: 15px;
      margin-bottom: 40px;
    }
    ul.brands__list {
      margin-bottom: 0;
    }
    .second-title {
      margin-bottom: 50px;
    }
    .tech-container {
      display: flex;
      gap: 32px;
    }
  }

  .price-container {
    display: flex;
    flex-direction: row;
    height: 324px;
    width: 1056px;

    background-color: #ffffff;
    margin-left: 32px;
    margin-right: 32px;

    span {
      display: block;
      height: 64px;
      border-bottom: 1px solid #eaeaea;
    }

    .name-column {
      margin-right: 124px;
    }

    .price-column {
      margin-right: 122px;
    }
  }

  .page-footer {
    .copyright {
      display: flex;
      justify-content: space-between;
    }
  }

  .nds-text {
    width: 421px;
    margin-top: 32px;
    margin-left: 32px;

    .nds-text__img {
      align-self: center;
      margin-left: 9px;
    }
  }
}
