$backgroundcolor: #f8f8f8;
$titlecolor: #1b1c21;
$buttoncolor: #7e7e82;
$greenbordercolor: #b8ffec;
$phonewidth: 767.95px;
$tabletwidth: 1119.95px;

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* тут все стили для боди  */
body {
  margin: 0;
  font-family: 'TT Lakes';
  background-color: $backgroundcolor;
  font-style: normal;
  width: 100%;
}

/* тут все логотипы  */

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

/* Убираем внутренние отступы */
ul {
  padding: 0;
}

.page-header {
  padding: 15px 15px 10px 15px;
  background-color: #ffffff;
  border-bottom: 2px solid #b8ffec;
  width: 100%;

  &__main-menu {
    display: flex;
    justify-content: space-between;

    .page-header__justify-left {
      display: flex;
      flex-direction: row;
      padding: 0;

      .page-header__icon-menu {
        position: relative;
        margin-right: 16px;
        margin-left: 16px;
        padding: 0;
      }
      .page-header__icon-logo {
        position: relative;
        align-self: flex-start;
        margin-right: 16px;
        padding: 0;
      }

      .page-header__icon-divider {
        position: relative;
        margin-right: 16px;
        align-self: center;
        padding: 0;
      }
    }

    .page-header__justify-right {
      display: flex;
      padding: 0;
      justify-content: space-around;
    }

    &__icon-tools {
      position: relative;
      margin-right: 16px;
      order: 4;
      padding: 0;
    }

    &__icon-search {
      position: relative;
      margin-right: 16px;
      order: 4;
      padding: 0;
    }

    &__icon-call {
      position: relative;
      margin-right: 16px;
      order: -2;
      padding: 0;
    }

    &__icon-chat {
      position: relative;
      margin-right: 16px;
      order: 0;
    }

    &__icon-profile {
      position: relative;
      margin-right: 16px;
      order: 2;
    }

    &__icon-divider2 {
      position: relative;
      margin-right: 16px;
      order: 3;
    }
  }
}

/* главный заголовок и его иконка */

.page-main {
  display: flex;
  flex-direction: column;

  &__highlight {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    margin-left: 12px;
    font-size: 28px;
    margin-bottom: 0;
    align-self: flex-end;
  }

  &__title-icon {
    align-self: flex-end;
  }
}

/* кнопки */

.page-main {
  &__buttons {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    overflow: scroll;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .button-style {
    width: max-content;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: 2px transparent solid;
    background-color: $backgroundcolor;
    color: #7e7e82;
    font-size: 0 16px;
    margin-right: 10px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
  }

  &__buttons::-webkit-scrollbar {
    width: 0;
  }

  .button-style:hover {
    border: 2px #b8ffec solid;
    background-color: #ffffff;
    color: #7e7e82;
  }
}

/* текст */

.main-information {
  display: flex;
  flex-direction: column;
}
.page-main {
  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding: 0;

    .paragraph320 {
      margin-bottom: 16px;
      margin-top: 16px;
      margin-left: 16px;
    }

    .img-styles1 {
      width: 90%;
    }
  }
}

.second-title {
  display: flex;
  margin-top: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.second-title-icon {
  display: inline;
  align-self: center;
}

.swiper {
  min-width: 320px;
  height: auto;
}

.swiper-slide {
  width: auto;
}
.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.button-rotate {
  transform: rotate(180deg);
}

.brands__list {
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
  row-gap: 16px;
  column-gap: 32px;
}

/* пропадающие иконки при 320px  и отключение скролла в 320px  */
@media (max-width: $phonewidth) {
  .page-header {
    justify-content: space-around;

    &__icon-call {
      display: none;
    }

    &__icon-chat {
      display: none;
    }

    &__icon-profile {
      display: none;
    }

    &__icon-divider2 {
      display: none;
    }

    &__icon-search-text {
      display: none;
    }

    &__icon-tools-text {
      display: none;
    }
  }

  .page-main__text768 {
    display: none;
  }
  .page-main__text1120 {
    display: none;
  }

  .page-main__buttons {
    display: flex;
    width: inherit;

    &__button-5 {
      display: none;
    }
  }

  .brands-button {
    display: none;
  }

  // .second-title:last-child{
  //   display:none;
  // }
}

/* 768px  на планшеты */

@media (min-width: $phonewidth) and (max-width: $tabletwidth) {
  body {
    margin-right: 16px;
    background-color: $backgroundcolor;
  }

  .page-header {
    padding: 14px;

    &__icon-call {
      order: -2;
      margin-right: 10px;
    }
    &__icon-logo {
      order: 1;
    }
    &__icon-divider {
      order: 0;
    }

    &__icon-chat {
      order: -1;
      margin-right: 10px;
    }
    &__icon-profile {
      order: -1;
      margin-right: 10px;
    }
    &__icon-divider2 {
      order: -1;
      margin-right: 10px;
      align-self: center;
    }

    &__icon-tools {
      margin-right: 10px;
    }

    &__icon-search {
      margin-right: 10px;
    }

    &__icon-search-text {
      display: none;
    }

    &__icon-tools-text {
      display: none;
    }
  }

  .page-main__buttons {
    margin-bottom: 16px;
    margin-left: 24px;
  }

  .page-main__title {
    margin-left: 30px;
  }
  .main-information {
    display: flex;
    flex: 50% 50%;
    flex-direction: row;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    font-size: 14px;
    text-align: left;
    width: 450px;
    margin-right: 48px;

    .paragraph320 {
      margin: 0;
    }
    .second-paragraph768 {
      margin-bottom: 0;
    }
  }
  .page-main__text {
    padding-left: 24px;
    margin-left: 0;
  }
  .page-main__text768 {
    padding-left: 24px;
  }
  .page-main__text1120 {
    display: none;
  }

  .second-title {
    margin: 0;
    margin-left: 24px;
    margin-bottom: 14px;
    font-family: inherit;
  }

  .second-title-icon {
    margin-left: 24px;
    width: 25px;
    height: 30px;
    align-self: center;
  }

  .img-styles1 {
    width: 320px;
    border-radius: 2.5%;
  }

  .swiper-pagination {
    display: none;
  }

  .brands__list {
    margin-left: 24px;
    margin-right: 24px;
    column-gap: 24px;
    row-gap: 16px;
  }

  .brand-style {
    width: 224px;
    height: 72px;

    img {
      width: 224px;
      height: 72px;
    }
  }
}

/* 1120px  на компьютеры  */

@media (min-width: 1120px) {
  
  .page-header {
    background-color: $backgroundcolor;
    border: none;
    width: 0;
    height: 0;
    padding: 0;

    &__icon-search {
      position: absolute;
      top: 42px;
      right: 53px;
    }

    &__icon-search-text {
      position: relative;
      top: -15px;
      right: 8px;
      font-size: 16px;
      font-family: 'TT Lakes';
      font-weight: 500;
    }

    &__icon-tools {
      position: absolute;
      top: 42px;
      right: 253px;
    }

    &__icon-tools-text {
      position: relative;
      top: -15px;
      right: 8px;
      font-size: 16px;
      font-family: 'TT Lakes';
      font-weight: 500;
    }

    &__icon-call {
      display: none;
    }

    &__icon-chat {
      display: none;
    }

    &__icon-divider {
      display: none;
    }

    &__icon-divider2 {
      display: none;
    }

    &__icon-logo {
      display: none;
    }

    &__icon-menu {
      display: none;
    }

    &__icon-profile {
      display: none;
    }
  }
  .page-main {
    position: absolute;

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      margin-left: 32px;
      font-family: 'TT Lakes';
    }

    &__highlight {
      margin-top: 42px;
    }

    &__title {
      margin-left: 30px;
      margin-top: 0;
    }

    .second-title {
      margin-left: 0;
      padding-left: 0;
    }

    .brands-button .second-title-icon {
      margin-left: 24px;
    }

    .text {
      margin-right: 36px;
      .page-main__text {
        display: none;
      }

      .page-main__text768 {
        display: none;
      }
    }
    .main-information {
      display: flex;
      flex-direction: row;
      flex: 50% 50%;
      margin-bottom: 50px;
      .text {
        flex: 50%;
        margin-left: 30px;
        margin-right: 30px;

        .second-paragraph {
          margin-bottom: 0;
        }
      }
      .img-styles1 {
        flex: 50%;
        width: 530px;
        margin-right: 30px;
        border-radius: 2.5%;
      }
    }
  }

  .swiper-pagination {
    display: none;
  }

  .second-title {
    padding: 0;
  }
}

.brands {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #D9FFF5;
  li {
    list-style: none;
  }
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.brand {
  display: flex;
  flex-wrap: wrap;
  grid: 16px;
}
.brand-list-title {
  margin-left: 33px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
}

.brand-style {
  padding: 0;
}
.second-title:last-child {
  margin-left: 0;
  margin-bottom: 50px;
}

.hidden {
  display: none !important;
}
