

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.button-style:hover {
  filter: grayscale(0.2);
}
body {
  margin: 0;
}

.modal-container{
  display:block;
  position: relative;
}

.modal-style {
  width: 320px;
  margin-right: auto;
  font-family: "TT Lakes";
  position:sticky;
  top:0;
  bottom:0;
  left:0;
  margin-bottom: 0;
  margin-left: 0;
  box-shadow: 10px 10px 30px 10px #0e185033;
  display: flex;
  flex-direction: column;

  .link-style {
    color: inherit;
    text-decoration: none;
  }
  /* шапка модалки */
  .modal-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;

    .link-style {
      margin-top: 0;
    }

    .button-style {
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      align-self: center;
    }
    .modal-header__opened-menu {
      margin-right: 16px;
    }
    .modal-header__icon-search {
      display: flex;
      justify-self: flex-end;
    }

    .modal-header__logo {
      margin-right: 65px;
    }
  }
  /* меню модалки */
  .modal-main__headline {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;

    .modal-main__headline-title {
      margin-left: 16px;
      font-size: 16px;
      color: #7e7e82;
      letter-spacing: -0.2px;
      font-weight: normal;
      font-style: normal;
    }
  }

  /* кнопки модалки */
  .button-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .button-style {
      font-family: "TT Lakes";
      text-align: start;
      display: block;
      background-color: transparent;
      border: none;
      list-style-type: none;
      font-size: 16px;
      margin-bottom: 30px;
      margin-left: 20px;
      padding: 0;
    }
  }
  .button-style {
    font-family: "TT Lakes";
    text-align: start;
    display: block;
    background-color: transparent;
    border: none;
    list-style-type: none;
    font-size: 16px;
  }

  .button-style:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    font-style: medium;
  }

  /* подвал модалки */
  .modal-footer {
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .modal-footer__buttons {
      display: flex;
      margin-bottom: 16px;

      .button-footer-1 {
        align-self: flex-start;
        margin: 0;
        margin-left: 24px;
        margin-right: 16px;
        padding: 0;
      }
      .button-footer-2 {
        margin: 0;
        margin-right: 16px;
        padding: 0;
      }
      .button-footer-3 {
        margin: 0;
        padding: 0;
      }
    }

    .modal-footer__copy {
      display: flex;
      flex-direction: column;

      .email {
        margin-left: 24px;
      }
      .phone {
        margin-top: 12px;
        margin-left: 24px;
        font-weight: bold;
        font-size: 24px;
      }
      .lang {
        margin-left: 24px;
        margin-top: 40px;
        margin-bottom: 24px;
        display: flex;

        .button-style {
          margin: 0;
          padding: 0;
          margin-right: 7px;
        }

        .button-style:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

