.price {
  border-top: 2px solid #d9fff5;
  .brand-list-title {
    margin-bottom: 47px;
    margin-left: 32px;
  }
}
// заголовок таблицы прайслист
.price__table-title {
  display: flex;
  flex-direction: row;
  height: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  color: #7e7e82;
  .table-title__name {
    width: 494px;
    margin-left: 56px;
    vertical-align: bottom;
  }
  .table-title__price {
    width: 175px;
  }
  .table-title__time {
    width: 111px;
  }

  .table-title__order-button{
    width: 140px;
    margin-left: 24px;
  }
}

// содержимое таблицы прайслист
.table-container {
  display: flex;
  flex-direction: column;
  height: 324px;
  flex-grow: 2;
  border: 1px white solid;
  border-radius: 10px;
  background-color: white;
  margin-left: 32px;
  margin-right: 32px;

  .price__product {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    color: #1b1c21;

    .product__name {
      width: 494px;
      margin-left: 24px;
      margin-top: 23px;
    }
    .product__price {
      width: 175px;
      margin-left: 24px;
      margin-top: 23px;
    }
    .product__time {
      width: 111px;
      margin-left: 24px;
      margin-top: 23px;
    }

    .product__order-button {
      width: 140px;
      margin-left: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

//  разделительные линии в прайсе
.block-divider {
  display: block;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 24px;
  margin-right: 24px;
}

.button-column {
  margin-right: 24px;

  .order-button {
    display: block;
    height: 64px;
    width: 119px;
    padding: 0;
  }
}

.nds-text {
  margin-bottom: 57px;
  .nds-text__img {
    height: 10px;
    width: 6px;
  }
}

@media (min-width: 767.95px) {
  body {
    font-size: 14px;
  }
  .price__table-title {
    height: 32px;
    margin: 0 24px;
    box-sizing: content-box;
    font-size: 14px;

    .table-title__name {
      margin-left: 16px;
      flex-shrink: 1;
      min-width: 348px;
    }
    .table-title__price {
      flex-shrink: 1;
      margin-left: 16px;
      min-width: 74px;
    }
    .table-title__time {
      margin-left: 0;
      flex-shrink: 0;
      margin-left: 22px;
      min-width: 81px;
    }
    .table-title__order-button {
      margin: 0 16px 0 16px;
      padding: 0;
      width: 140px;
      visibility: hidden;
    }
  }

  .table-container {
    min-width: 740px;
    box-sizing: content-box;
    margin-right: 24px;
    margin-left: 24px;
    font-size: 14px;

    .price__product {
      height: 64px;
      margin: 0;
      box-sizing: content-box;

      .product__name {
        margin-left: 16px;
        flex-shrink: 1;
        min-width: 348px;
      }
      .product__price {
        flex-shrink: 1;
        margin-left: 16px;
        min-width: 74px;
      }
      .product__time {
        margin-left: 0;
        flex-shrink: 0;
        margin-left: 22px;
        min-width: 81px;
      }
      .product__order-button{
        margin: 0 16px 0 16px;
        padding: 0;
        visibility: visible;
      }
    }
  }

  .nds-text {
    margin: 0 24px;
    width: 421px;
    font-size: 14px;
  }
  .second-title {
    padding: 0;
    align-items: center;
    span {
      margin-right: 9.4px;
    }
  }
  .nds-text__img {
    height: 16px;
    vertical-align: bottom;
  }
}

@media (max-width: 767.95px) {
  .price__table-title{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 200px;
    background-color: white;
  }
  .table-container {
    height: 200px;
    flex-direction: row;
    flex-wrap: nowrap;

    .price__product {
      flex-direction: column;
      width: 260px;
      height: 200px;
      background-color: white;
    }
  }

  .table-container {
    .price__product {
      margin:0;
      justify-content: center;
      .block-title-name {
        width: 126px;
        font-size: 14px;
        margin-left: 16px;
        margin-top: 16px;
        vertical-align: bottom;
        color: #7e7e82;
            margin-bottom: 4px;
      }

      .product__name{
        margin: 0;
        margin-left: 16px;
        font-size: 14px;
      }
      .product__price{
        margin: 0;
    margin-left: 16px;
    font-size: 14px;
      }

      .product__time{
        margin: 0;
    margin-left: 16px;
    font-size: 14px;
      }

      .product__order-button{
        position:relative;
        top: -27px;
        right:-80px;
      }
      .block-title-price {
        width: 126px;
        font-size: 14px;
        margin-left: 16px;
        margin-top: 16px;
        vertical-align: bottom;
        color: #7e7e82;
            margin-bottom: 4px;
      }
      .table-title__price {
        margin: 0;
        margin-left: 16px;
        font-size: 14px;
      }

      .block-title-time {
        width: 126px;
        font-size: 14px;
        margin-left: 16px;
        margin-top: 16px;
        vertical-align: bottom;
        color: #7e7e82;
            margin-bottom: 4px;
      }
      .table-title__time {
        margin: 0;
        margin-left: 16px;
        font-size: 14px;
      }

      .table-title__order-button{
        position:relative;
        top: -27px;
        right:-80px;
      }
    }
  }
}

.block-title-price {
  width: 175px;
}
.block-title-time {
  width: 111px;
}
