.price{
  border-top: 2px solid #D9FFF5;
.brand-list-title{
  margin-bottom: 47px;
  margin-left: 32px;
}
}
// заголовок таблицы прайслист
.block {
  display: flex;
  flex-direction: row;
  height: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  color: #7e7e82;
  .block-name {
    width: 494px;
    margin-left: 56px;
    vertical-align: bottom;

  }
  .block-price {
    width: 175px;
  }
  .block-time {
    width: 111px;

  }

  .order-button {
    width: 140px;
    margin-left: 24px;
  }
}

// содержимое таблицы прайслист
.block-container {
  display: flex;
  flex-direction: column;
  height: 324px;
  flex-grow: 2;
  border: 1px white solid;
  border-radius: 10px;
  background-color: white;
  margin-left: 32px;
  margin-right: 32px;

  .block {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    color: #1b1c21;
    
    .block-name {
      width: 494px;
      margin-left: 24px;
      margin-top: 23px;
    }
    .block-price {
      width: 175px;
      margin-left: 24px;
      margin-top: 23px;
    }
    .block-time {
      width: 111px;
      margin-left: 24px;
      margin-top: 23px;
    }

    .order-button {
      width: 140px;
      margin-left: 24px;
      margin-top: auto;
      margin-bottom: auto;

    }
  }
}

//  разделительные линии в прайсе
.block-divider {
  display: block;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 24px;
  margin-right: 24px;
}

.button-column {
  margin-right: 24px;

  .order-button {
    display: block;
    height: 64px;
    width: 119px;
    padding: 0;
  
  }
}

.nds-text{
  margin-bottom: 57px;
  .nds-text__img{
    height:10px;
    width:6px;
  }
}

@media (min-width: 767.95px){
  .block{
    display: flex;
    flex-direction: row;
    height: 14px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    color: #1b1c21;
    font-size: 14px;
line-height: 16px;
    .order-button{
      width:131px;
    }
}
  
.block-container{
min-width:720px;
height:324px;
box-sizing: content-box;
.block{
  height:64px;
  font-size: 14px;
  margin:0;
}
}
}