@media (min-width: 767.95px) {
  .tech-repair {
    border-top: 2px solid #d9fff5;
    .brands__list {
      list-style: none;
    }
    .tech-container {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    .brand-style {
      height: 160px;
      img {
        height: 160px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .tech-repair {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .tech-container {
    list-style: none;
  }
  .swiper-pagination2 {
    text-align: center;
  }

}
