@media (min-width: 767.95px) {
  .tech-repair {
   border-top: 2px solid #D9FFF5;
    .brands__list {
      list-style: none;
    }
    .tech-container {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    .brand-style {
      height: 160px;
      img {
        height: 160px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px){
.tech-repair{
  display:flex;
  flex-direction: column;
  
}
.tech-container{
  list-style: none;
}
.swiper-pagination2{
  text-align: center;
}

.block{
  flex-direction: column;
  width:260px;
  height:200px;
  background-color: white;
}
.block-container{
  flex-direction: row;
  flex-wrap: nowrap;
  .block{
    flex-direction: column;
    width:260px;
    height:200px;
    background-color: white;
  }
}
}